body{
    background-color: #5b7553;
    color: #c3e8bd;
    text-align: center;
}
ul{
    list-style: none;
}

.titulo{
    font-size: 36px;
    font-style: italic;
    color: #9ddbad;
    transition: 0.3s ease-in-out;
}
.titulo:hover{
    color: #255c33;
}
.titulo:first-letter{
    color: #af1108;
}
.esporte{
    font-weight: 600;
}
.esporte:hover{
    color: #255c33;
    transition: 0.3s ease-in-out;
}
.img_esporte{
    max-width: 250px;
    border-radius: 15px;
    transition: 0.5s ease-in-out;
}
.img_esporte:hover{
    transform:scale(1.1);
}
.container{
    background-color: #c3e8bd;
    border-radius: 20px;
}
.img_maior{
    max-width: 400px;
    border-radius: 20px;
}
.medalhas{
    background-color: #7ea386;
    border-radius: 20px;
}
.subtitulo{
    color: #51684a;
    font-weight: 700;
}
.destaque{
    color: rgb(7, 9, 0);
    font-weight: 600;
}
.curiosidades{
    background-color: #22221e;
    border-radius: 20px;
}